<header>
  <div class="container">
    <a href="#" class="logo">
      <img src="assets/img/logo-horizontal-black-zerodash.svg" alt="Zerodash logo">
    </a>

    <nav>
      <a href="#" class="hide-on-desktop">
        <img src="assets/img/icon_toggle.svg" alt="toggle menu" id="menu">
      </a>
      <ul class="show-on-desktop hide-on-mobile" id="nav">
        <li class="exit-btn hide-on-desktop" id="exit">
          <img src="assets/img/exit.svg" alt="exit menu">
        </li>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/commitments">Our Commitments</a></li>
        <li><a href="#" routerLink="/about">About</a></li>
        <li><a href="#" routerLink="/blog">Blog</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="pink-container">
  <h1>Take control over your Mobile Money with ZERODASH</h1>
  <p class="subhead">Take advantage of a rich and intuitive dashboard to easily control what you spend, how much you
    spend and why. It's all in one place</p>
  <img src="assets/img/screen_home.svg" alt="home feature screenshot">
  <img src="assets/img/scroll.svg" alt="scroll down" class="scroll hide-on-mobile show-on-desktop">
  <ul class="cta-container hide-on-desktop">
    <li>
      <!-- Use call-to-action custom component -->
      <a href="#">Get the app</a>
    </li>
    <li>
      <a href="#">Get the app</a>
    </li>

  </ul>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>