<div class="container">
    <header>
        <a href="#">
            <img src="assets/img/logo-horizontal-black-zerodash.svg" alt="Zerodash logo" class="logo">
        </a>
        <nav>
            <a href="#" class="hide-on-desktop">
                <img src="assets/img/icon_toggle.svg" alt="toggle menu" class="menu" id="menu">
            </a>
            <ul class="show-on-desktop hide-on-mobile" id="nav">
                <li class="exit-btn hide-on-desktop" id="exit">
                    <img src="assets/img/exit.svg" alt="exit menu">
                </li>
                <li><a href="#" routerLink="/" i18n="@@homeMenu">Home</a></li>
                <li><a href="#" routerLink="/commitments" i18n="@@ourCommitmentsMenu">Our Commitments</a></li>
                <li><a href="#" routerLink="/about" i18n="@@aboutMenu">About</a></li>
                <li><a href="#" routerLink="/blog" i18n="@@blogMenu">Blog</a></li>
            </ul>
        </nav>
    </header>
</div>